<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>登録フォーム</h1>
    <form action="/products" method="POST">
        <input type="text" placeholder="商品名" name="name">
        <input type="number" placeholder="価格" name="price">
        <select name="category" id="">
            <option value="果物">果物</option>
            <option value="野菜">野菜</option>
            <option value="乳製品">乳製品</option>
        </select>
        <button>登録</button>
    </form>
    
</body>
</html>